<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <a class="navbar-brand">ToysBids Store</a>
    </div>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/auction">Subastas</a></li>
        <li><a routerLink="/notification">Notificaciones</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <!--
        <li class="dropdown" appCombobox>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Configuracion <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" routerLink="/miperfil">Mi Perfil</a></li>
            <li><a style="cursor: pointer" (click)="cerrarSesion()">Cerrar Sesion</a></li>
          </ul>
        </li>
        -->
      </div>
    </div>
  </div>
</div>