<div style="border:1px dotted orange;height:100%;">
  <div class="row" style="display:flex;height: 100%;">
    <div class="col-md-4" style="background-color:rgb(194, 194, 145);height: 100%">
      <app-auction-new-header (emision)="getDateAndTime($event)" (changeCategory)="onChangedCategory($event)">
      </app-auction-new-header>
    </div>

    <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
      <div class="col-md-5" style="border: 1px solid red;height: 100%">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Seleccionar imagenes
        </label>
        <input (change)="onFileChanged($event)" formControlName="document" id="file-upload" type="file" ng2FileSelect
          accept="image/png,image/jpeg,image/jpg" [uploader]="uploader" multiple /><br />
        <br>
        <div id= "dropZone" ng2FileDrop [uploader]="uploader" class="drop-zone">
          Drag and drop files to upload
        </div>
        <br>
        <button class="btn btn-primary" [disabled]="!isValid" type="submit">Cargar Imagenes</button>
      </div>
      <div class="col-md-7" style="border: 1px solid orange;height: 100%">
        <div id="container" style="height:99%" class="list" cdkDropList (cdkDropListDropped)="onDroped($event)" onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false">
          <div id={{i+1}} class="box" *ngFor="let item of uploader.queue; let i = index" cdkDrag>
            <div class="row marginToZero" style="height:100px;">
              <div class="col-sm-5">
                <img src="" imgPreview [image]="item?._file" class="media-object publicationImage" />
              </div>
              <div class="col-sm-6 marginToZero margin5">
                <div class="row">
                  <div class="col-sm-3">
                    <label style="margin-top:5px;margin-right:10px;font-weight:300 !important;">Base</label>
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control form-control-sm price" placeholder="0.00" id="precio" type="text"
                      value={{item.description}}
                      (focusout)="onSetPrice($event.target.parentElement.parentElement.parentElement.parentElement.parentElement.id,$event.target.value)">
                  </div>
                </div>
                <div class="row" style="margin-top:10px;margin-left:30px;color:rgba(68, 122, 174, 0.87)">
                  <label></label>
                  <i class="fa fa-trash" style="color:red;font-size: 1.5em" title="Eliminar"
                    (click)="item.remove();onRemoveItem($event.target.parentElement.id)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row"></div>
</div>