.drop-zone {
    height: 98%;
    min-height: 100px;
    border: 1px dashed grey;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #286090;
    color: #fff;
    font-weight: 100;
}

.save-auction {
    border-radius: 0px !important;
    width: 180px;
}

.pendinginfo {
    border: 1px solid indianred;
}

.completedinfo {
    border: 1px solid #469a1f;
}

.list {
    height: 97%;
    margin-top: 7px;
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    overflow: hidden;
    overflow-y: scroll;
}

.box {
    height: 100px;
    width: 300px;
    border: 1px solid #e1e4e8 !important;
    margin: 5px;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 13px;
}

.box:hover {
    background-color: rgb(240, 242, 247);
}

.cdk-drag-preview {
    border: 1px solid #bcc3ca !important;
    background-color: #dae0e6 !important;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.border-green {
    border-bottom: 2px solid #469a1f !important;
}

.marginToZero {
    margin: 0px;
}

.margin5 {
    margin: 10px 10px;
}

.price {
    width: 100px;
}

.publicationImage {
    height: 98px;
    max-width: 100px;
}

.dropzoneHightlight {
    background-color: greenyellow;
}

.dropzoneFocus {
    background-color: rgb(154, 235, 32);
    border: 1px solid rgb(9, 133, 19);
}

.border-publication {
    border-bottom: 2px solid greenyellow !important;
}