<div class="height-full border-gray" style="margin-left:25px">
    <div style="height:10%">
        <div class="row marginToZero" style="height:90%;background-color: rgb(71, 77, 83)">
            <div class="col-sm-10">
                <div class="row marginToZero" style="margin-top:10px">
                    <div class="col-sm-6" style="margin-left:-20px;color:white">
                        <p>{{auctionsCount}} auctions</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-circle-o-notch fa-pulse" style="font-size:20px;color:rgb(144, 154, 170)" *ngIf="showLoadingIcon"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="margin-top:10px">

            </div>
        </div>
    </div>

    <div id="container-auctions" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false" class="list-container">
        <div id={{i+1}} *ngFor="let item of auctionItems;let i = index" class="list-group-item" [attr.data-index]="i" style="cursor: pointer" [routerLink]="[i+1]" routerLinkActive="itemSelected">
            <div> <img src="{{item.mainImage}}"></div>
            <div class="category">{{item.basePrice}}</div>
            <div class="range">{{item.currentBid}}</div>
            <div class="count">{{item.bidCount}} articulos</div>
        </div>
    </div>
</div>