<div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input id="title" type="text" class="form-control" [(ngModel)]="title">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="category">Categoria</label>
        <ngx-select-dropdown id="category" [multiple]="false" (change)="onSelectedCategory($event)"
          [options]="categories" [config]="{displayKey: 'name', placeholder: 'Seleccionar Categoria'}">
        </ngx-select-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="beginDate">Inicio</label>
        <input id="beginDate" type="text" class="form-control" [minDate]="minDate" #dp="bsDatepicker" bsDatepicker
          [(bsValue)]="myDate" (bsValueChange)="onDateChanged()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <timepicker [showMinutes]="false" [showSeconds]="false" [(ngModel)]="myTime" (ngModelChange)="onTimeChanged()">
      </timepicker>
    </div>
    <div class="col-md-2" style="margin-left:-20px;margin-top:30px">
      <label>Intervalo</label>
    </div>
    <div class="col-md-3 form-group" style="margin-left:10px;margin-top:25px;">
      <ngx-select-dropdown id="interval" [multiple]="false" (change)="onIntervalChanged($event)" [options]="minutes"
        [config]="{placeholder: '2'}"></ngx-select-dropdown>
    </div>
    <div class="col-md-1" style="margin-left:-20px;margin-top:30px;">
      minutos
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-4">
      <label style="margin-top:5px;margin-right:10px;font-weight:100 !important;">Precio Base</label>
    </div>
    <div class="col-md-3">
      <input class="form-control form-control-sm price" placeholder="0.00" type="text" value="{{generalBasePrice}}"
        (keyup)="onKeyup($event)" />
    </div>
    <div class="col-md-5">
      <button class="btn btn-primary" (click)="applyBasePrice()">
        <i class="fa fa-floppy-o" style="margin-left:-20px"></i> Aplicar a todos
      </button>
    </div>
  </div>
</div>