<div class="height-full border-gray" style="margin-left:25px">
    <div style="height:10%;background-color: rgb(209, 230, 255)">
        <p>Spinning: {{auctionsCount}}</p>
        <i class="fa fa-circle-o-notch fa-pulse" style="font-size:20px;color:rgb(51, 74, 109)" *ngIf="showLoadingIcon"></i>
        <button class="btn btn-success" (click)="createNewAuction()">+</button>
    </div>

    <div id="container-auctions" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false" class="list-container">
        <div id={{i+1}} *ngFor="let item of auctions;let i = index" class="list-group-item" [attr.data-index]="i" style="cursor: pointer" [routerLink]="[i+1]" routerLinkActive="itemSelected">
            <div class="category">{{item.category}}</div>
            <div class="range">{{item.range}}</div>
            <div class="count">{{item.count}} articulos</div>
        </div>
    </div>
</div>