.list-container {
    overflow-y: scroll;
    height: 90%;
}

.list-group-item {
    border: 1px solid gainsboro;
    margin: 0 !important;
    padding: 0 10px !important;
    height: 100px;
}

.list-group-item>* {
    pointer-events: none;
}

.category {
    font-size: 20px;
    font-weight: 500;
}

.range {
    font-size: 14px;
    height: 30px;
}

.count {
    margin-top: 7px;
    font-size: 14px;
    height: 30px;
}

.state-item {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemSelected {
    background-color: rgb(155, 216, 56);
}