.cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: column;
    }
.list-group-item {
  margin: 0 !important;
  padding: 0 10px !important;
}
.state {
    font-size: 20px;
    font-weight: 500;
  }  
.capital {
    font-size: 14px;
  }